<div class="row">

    <div class="col-12">
        <h1>{{proizvodjacFormaCtrl.izmena ? "Izmena proizvodjaca" : "Novi proizvodjac"}}</h1>
    </div>

    <div class="col-12">
        
        <form ng-submit="proizvodjacFormaCtrl.proizvodjac.id ? proizvodjacFormaCtrl.izmeni() : proizvodjacFormaCtrl.kreiraj()" 
            name="proizvodjacForma" class="w-50">
            
            
            <div class="form-group">
                <label for="naziv">Naziv</label>
                <input type="text" name="naziv" id="naziv" class="form-control" placeholder="Naziv" 
                    ng-model="proizvodjacFormaCtrl.proizvodjac.naziv" required>
            </div>
            <div class="form-group">
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" class="form-control" placeholder="Adresa" 
                    ng-model="proizvodjacFormaCtrl.proizvodjac.adresa" required>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>
