<div class="row">

    <h1>Racuni</h1>


    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum kupovine</th>
                    <th>Ukupna cena</th>
                    <th>Korisnik</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="p in racuniCtrl.racuni | filter:searchText">
                    <td>{{p.datum_kupovine}}</td>
                    <td>{{p.ukupna_cena}} RSD</td>
                    <td>{{p.korisnicko_ime}}</td>
                    <td> <a ui-sref="racun({id: p['id']})">Detalji</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
