<div class="row">

    <div class="col-12">
        <h1>{{korisnikFormaCtrl.izmena ? "Izmena korisnika" : "Novi korisnik"}}</h1>
    </div>

    <div class="col-12">
        
        <form ng-submit="korisnikFormaCtrl.korisnik.id ? korisnikFormaCtrl.izmeni() : korisnikFormaCtrl.kreiraj()" 
            name="korisnikForma" class="w-50">
            
            <div class="form-group">
                <label for="kime">Korisnicko ime</label>
                <input type="text" name="kime" id="kime" class="form-control" placeholder="Korisnicko ime" 
                    ng-model="korisnikFormaCtrl.korisnik.korisnicko_ime" ng-disabled="korisnikFormaCtrl.korisnik.id" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email" 
                    ng-model="korisnikFormaCtrl.korisnik.email" required>
            </div>
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" name="ime" id="ime" class="form-control" placeholder="Ime" 
                    ng-model="korisnikFormaCtrl.korisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" name="prezime" id="prezime" class="form-control" placeholder="Prezime" 
                    ng-model="korisnikFormaCtrl.korisnik.prezime" required>
            </div>
            <div class="form-group">
                <label for="singleSelect"> Pol </label><br>
                <select name="singleSelect" ng-model="korisnikFormaCtrl.korisnik.pol">
                <option value="muški">Muski</option>
                <option value="ženski">Zenski</option>
                </select><br>
            </div>
            
            <div class="form-group">
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" class="form-control" placeholder="Adresa" 
                    ng-model="korisnikFormaCtrl.korisnik.adresa" required>
            </div>
            <div class="form-group">
                <label for="lozinka">Lozinka</label>
                <input type="password" name="lozinka" id="lozinka" class="form-control" placeholder="Lozinka"
                    ng-model="korisnikFormaCtrl.korisnik.lozinka" required>
            </div>
            <div class="form-group">
                <label for="lozinka2">Ponovite lozinku</label>
                <input type="password" name="lozinka2" id="lozinka2" class="form-control" placeholder="Lozinka"
                    ng-model="korisnikFormaCtrl.korisnik.lozinka2" required>
            </div>
            <div class="form-group" ng-if="korisnikFormaCtrl.isAdmin()">
                <label for="uloga">Uloga</label>
                <input type="text" name="uloga" id="uloga" class="form-control" placeholder="Uloga" 
                    ng-model="korisnikFormaCtrl.korisnik.uloga" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>
