<div class="row">

    <h1>Proizvodjaci</h1>
    <div class="ml-auto">
        <a ui-sref="dodajProizvodjaca" class="btn btn-success">Kreiraj novog</a>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>
   
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Adresa</th>
                </tr>
            </thead>
            <tbody>
               
                <tr ng-repeat="p in proizvodjaciCtrl.proizvodjaci | filter:searchText">
                    <td>{{p.naziv}}</td>                    
                    <td>{{p.adresa}}</td>
                    
                    <td><button class="btn btn-danger" ng-click="proizvodjaciCtrl.ukloniProizvodjaca(p['id'])">Ukloni</button></td>
                    <td> <a ui-sref="izmeniProizvodjaca({id: p['id']})">Izmeni</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>