<ul class="navbar-nav mr-auto">
    <li class="nav-item" ng-if="isAdmin()">
        <a class="nav-link" ui-sref="korisnici" >Korisnici</a>
    </li>
    <li class="nav-item" ng-if="isAdmin()">
        <a class="nav-link" ui-sref="proizvodjaci">Proizvodjaci</a>
    </li>
    <li class="nav-item" ng-if="isAdmin()">
        <a class="nav-link" ui-sref="prodavnice">Prodavnice</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" ui-sref="proizvodi">Proizvodi</a>
    </li>
    <li class="nav-item" ng-if="isLoggedIn()">
        <a class="nav-link" ui-sref="racuni">Racuni</a>
    </li>

</ul>
