<form ng-submit="dodajUKorpu()" name="korpaForma" class="d-flex">
    <input type="number" ng-model="proizvod.kolicina" placeholder="Kolicina" min="1" style="width: 80px" required>
    <input type="submit" value="U korpu" class="btn btn-success">
</form>
