<div class="row">

    <h1>Vasa korpa</h1>
    <div class="ml-auto">
        <button ng-click="korpaCtrl.poruci()" class="btn btn-success">Zavrsi porudzbinu</button>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Proizvod</th>
                    <th>Kolicina</th>
                    <th>Cena</th>
                    <th>Ukupno</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="p in korpaCtrl.korpa | filter:searchText">
                    <td>{{p.proizvod_naziv}}</td>
                    <td>{{p.kolicina}}</td>
                    <td>{{p.proizvod_cena}} RSD</td>
                    <td>{{p.kolicina * p.proizvod_cena}} RSD</td>
                    <td><button ng-click="korpaCtrl.ukloni(p.proizvod_id)" class="btn btn-danger">Ukloni</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Za naplatu:<b></td>
                    <td>{{korpaCtrl.izracunajUkupno()}} RSD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
