<div class="row">

    <h1>Racun</h1>

    <div class="col-12"><h4>Datum kupovine: {{racunCtrl.racun.datum_kupovine | date:"dd/MM/yyyy"}}</h4></div>
    <div class="col-12"><h4>Kupac: {{racunCtrl.racun.korisnicko_ime}}</h4></div>


    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Proizvod</th>
                    <th>Kolicina</th>
                    <th>Cena</th>
                    <th>Ukupno</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="p in racunCtrl.stavke | filter:searchText">
                    <td>{{p.naziv}}</td>
                    <td>{{p.kolicina}}</td>
                    <td>{{p.cena}} RSD</td>
                    <td>{{p.kolicina * p.cena}} RSD</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Za naplatu:<b></td>
                    <td>{{racunCtrl.racun.ukupna_cena}} RSD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
