<div class="row">

    <div class="col-12">
        <h1>{{prodavnicaFormaCtrl.izmena ? "Izmena prodavnice" : "Nova prodavnica"}}</h1>
    </div>

    <div class="col-12">
        
        <form ng-submit="prodavnicaFormaCtrl.prodavnica.id ? prodavnicaFormaCtrl.izmeni() : prodavnicaFormaCtrl.kreiraj()" 
            name="korisnikForma" class="w-50">
            
            
            <div class="form-group">
                <label for="naziv">Naziv</label>
                <input type="text" name="naziv" id="naziv" class="form-control" placeholder="Naziv" 
                    ng-model="prodavnicaFormaCtrl.prodavnica.naziv" required>
            </div>
            <div class="form-group">
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" class="form-control" placeholder="Adresa" 
                    ng-model="prodavnicaFormaCtrl.prodavnica.adresa" required>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>
