<div class="row">

    <div class="col-12">
        <h1>{{proizvodFormaCtrl.izmena ? "Izmena proizvoda" : "Novi proizvod"}}</h1>
    </div>

    <div class="col-12">
        
        <form ng-submit="proizvodFormaCtrl.proizvod.id ? proizvodFormaCtrl.izmeni() : proizvodFormaCtrl.kreiraj()" 
            name="korisnikForma" class="w-50">
            
            <div class="form-group">
                <label for="naziv">Naziv</label>
                <input type="text" name="naziv" id="naziv" class="form-control" placeholder="Naziv" 
                    ng-model="proizvodFormaCtrl.proizvod.naziv" required>
            </div>
            <div class="form-group">
                <label for="zapremina">Zapremina</label>
                <input type="text" name="zapremina" id="zapremina" class="form-control" placeholder="Zapremina" 
                    ng-model="proizvodFormaCtrl.proizvod.zapremina" >
            </div>
            <div class="form-group">
                <label for="tezina">Tezina</label>
                <input type="text" name="ime" id="ime" class="form-control" placeholder="Tezina" 
                    ng-model="proizvodFormaCtrl.proizvod.tezina" required>
            </div>
            <div class="form-group">
                <label for="sastav">Sastav</label>
                <input type="text" name="sastav" id="sastav" class="form-control" placeholder="Sastav" 
                    ng-model="proizvodFormaCtrl.proizvod.sastav" required>
            </div>

            <div class="form-group">
                <label for="cena">Cena</label>
                <input type="text" name="cena" id="cena" class="form-control" placeholder="Cena" 
                    ng-model="proizvodFormaCtrl.proizvod.cena" required>
            </div>
            <div class="form-group">
                <label for="rok">Rok trajanja</label>
                <input type="text" name="rok" id="rok" class="form-control" placeholder="Rok trajanja" 
                    ng-model="proizvodFormaCtrl.proizvod.rok_trajanja" required>
            </div>
            <div class="form-group" ng-if="proizvodFormaCtrl.proizvodjaci">
                <!-- <label for="proizvodjac">Proizovdjac</label>
                <input type="text" name="proizvodjac" id="prozivodjac" class="form-control" placeholder="Proizvdodjac" 
                    ng-model="proizvodFormaCtrl.proizvod.proizvodjac_id" required> -->

                <label for="repeatSelect"> Proizvodjac </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="proizvodFormaCtrl.proizvod.proizvodjac_id">
                    <option ng-repeat="option in proizvodFormaCtrl.proizvodjaci" value="{{option.id}}">{{option.naziv}}</option>
                </select>
            </div>
            
            <div class="form-group" ng-if="proizvodFormaCtrl.prodavnice">
                <label for="prodavnicaSelect"> Prodavnica </label>
                <select name="prodavnicaSelect" id="prodavnicaSelect" ng-model="proizvodFormaCtrl.proizvod.prodavnica_id">
                    <option ng-repeat="option in proizvodFormaCtrl.prodavnice" value="{{option.id}}">{{option.naziv}}</option>                
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>
