<div class="row">

    <h1>Proizvodi</h1>
    <div class="ml-auto" ng-if="proizvodiCtrl.isAdmin()">
        <a ui-sref="dodajProizvod" class="btn btn-success">Kreiraj novi</a>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>

    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Zapremina</th>
                    <th>Tezina</th>
                    <th>Sastav</th>
                    <th>Cena</th>
                    <th>Rok trajanja</th>
                    <th>Proizvodjac</th>
                    <th>Prodavnica</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="p in proizvodiCtrl.proizvodi | filter:searchText">
                    <td>{{p.naziv}}</td>
                    <td>{{p.zapremina ? p.zapremina + " l" : ""}}</td>
                    <td>{{p.tezina ? p.tezina + " kg" : ""}}</td>
                    <td>{{p.sastav}}</td>
                    <td>{{p.cena}} RSD</td>
                    <td>{{p.rok_trajanja}}</td>
                    <td>{{p['proizvodjac.naziv']}}</td>
                    <td>{{p['prodavnica.naziv']}}</td>

                    <td ng-if="proizvodiCtrl.isAdmin()">
                        <button class="btn btn-danger" ng-click="proizvodiCtrl.ukloniProizvod(p['id'])">Ukloni</button>
                    </td>
                    <td ng-if="proizvodiCtrl.isAdmin()"> 
                        <a ui-sref="izmeniProizvod({id: p['id']})">Izmeni</a>
                    </td>
                    <td> <korpa-dir proizvod-id="{{p.id}}" proizvod-naziv="{{p.naziv}}" proizvod-cena="{{p.cena}}"></korpa-dir></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
