<div class="row">

    <div class="col-12">
        <h1>Login</h1>
    </div>

    <div class="col-12">
        
        <form ng-submit="loginCtrl.login()" name="loginForma" class="w-50">
            <div class="form-group">
                <label for="ime">Korisnicko ime</label>
                <input type="text" name="ime" id="ime" class="form-control" placeholder="Korisnicko ime" 
                    ng-model="loginCtrl.korisnik.korisnicko_ime" required>
            </div>
            <div class="form-group">
                <label for="lozinka">Lozinka</label>
                <input type="password" name="lozinka" id="lozinka" class="form-control" placeholder="Lozinka"
                    ng-model="loginCtrl.korisnik.lozinka" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Uloguj se" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>
