<ul class="navbar-nav ml-auto">
    <li class="nav-item" >
        <a class="nav-link" ui-sref="korpa">Korpa ({{korpaKolicina()}})</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" ui-sref="login" ng-if="!isLoggedIn()">Login</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" ui-sref="dodajKorisnika" ng-if="!isLoggedIn()">Registracija</a>
    </li>
    <li class="nav-item" >
        <button class="btn btn-link" ng-if="isLoggedIn()" ng-click=logout()>Logout</a>
    </li>
</ul>
