<div class="row">

    <h1>Korisnici</h1>
    <div class="ml-auto">
        <a ui-sref="dodajKorisnika" class="btn btn-success">Kreiraj novog</a>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <div class="form-group w-50">
            <input class="form-control" id="searchInput" placeholder="Brza pretraga" ng-model="searchText">
        </div>
    </div>
   
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Korisnicko ime</th>
                    <th>Email</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Pol</th>
                    <th>Adresa</th>
                    <th>Uloga</th>
                    <th>Obrisi</th>
                    <th>Izmeni</th>
                </tr>
            </thead>
            <tbody>
               
                <tr ng-repeat="p in korisniciCtrl.korisnici | filter:searchText">
                    <!-- korisnicko_ime, email, ime, prezime, pol, adresa, lozinka, uloga -->
                    <!-- <td><a ui-sref="korisnik({id: p['id']})">{{p["ime"]}}</a></td> -->
                    <td>{{p.korisnicko_ime}}</td>                    
                    <td>{{p.email}}</td>
                    <td>{{p.ime}}</td>
                    <td>{{p.prezime}}</td>
                    <td>{{p.pol}}</td>
                    <td>{{p.adresa}}</td>
                    <td>{{p.uloga}}</td>
                    
                    <td><button class="btn btn-danger" ng-click="korisniciCtrl.ukloniKorisnika(p['id'])">Ukloni</button></td>
                    <td> <a ui-sref="izmeniKorisnika({id: p['id']})">Izmeni</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>